{% extends "index.html" %}

{% block title %}Alumni | ReSINC - Research in Security, Intelligence & Cyberthreat{% endblock title %}

{% block content %}
<main class="post-container">
    <article class="post">
        <div class="post-content">
            <h1>Alumni</h1>
            <p>ReSINC has been shaped by many talented researchers who have moved on to new challenges. We're proud of
                their contributions and grateful for the time they spent with the group.</p>
            {% set people = load_data(path="data/people.yaml", format="yaml") %}
            {{< people_list data={people.alumni} />}}
        </div>
    </article>
</main>
{% endblock content %}